.news_heading {
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    max-width: 730px;
}

.main_top_container_news_div {
    margin-top: 25px;
    display: flex;
    gap: 48px;
}

.news_image_first_div {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.left_container {
    width: 100%;
    height: 100%;
}

.key_discussion {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.right_side_container {
    width: 60%;
}

.most_popular {
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    margin-bottom: 24px;

}

.news_text {
    font-weight: 700;
    font-size: 28px;
    color: #EA5656;
    margin-bottom: 24px;
}

.popular_news_image {
    max-width: 160px;
    border-radius: 10px;
    max-height: 147px;
}

.popuale_new_main_div {
    display: flex;
    gap: 25px;
}

.popular_sub_main_heading {
    font-weight: 700;
    font-size: 20px;
    color: #000000EB;
}

.popular_sub_description {
    font-weight: 400;
    font-size: 16px;
    color: #000000EB;
}

.info_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.main_div_popular {
    display: flex;
    flex-direction: column;
    gap: 53px;
}



.news_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.news_main_div {
    font-family: Raleway;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sub_div_news {
    display: grid;
    gap: 40px !important;
}

.main_inner_news_div,
.four_img_div {
    width: 100%;
}

.heading_text {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 24px;
}

.news_main_upper_card {
    width: 100%;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    gap: 16px;
}

.cta_news {
    display: flex;
    flex-direction: row;
}

.formal_div {
    width: 100%;
}

.join_text {
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
}



@media (min-width: 1280px) {
    .news_container {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (max-width: 1200px) {
    .main_top_container_news_div {
        flex-direction: column;
        margin-top: 0px;
    }

    .right_side_container {
        width: 100%;
        text-align: center;
    }

    .heading_text {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .sub_div_news {
        display: flex;
    }
}

@media (max-width: 992px) {
    .right_side_container {
        width: 100%;
    }
}

@media (max-width: 978px) {
    .news_main_div {
        gap: 40px;
        flex-direction: column;
    }

    .heading_text {
        font-size: 24px;
    }
}

@media (min-width: 768px) {


    .news_container {
        margin-left: 8%;
        margin-right: 8%;
    }

    .formal_div {
        width: 75%;
    }

    .join_text {
        font-size: 40px;
        line-height: 1.2;
    }
}

@media (min-width: 500px) {
    .news_main_div {
        margin: 0 5%;
    }
}



.main_div_title_description {
    margin-top: 144px;
}

.div_for_experience_unpralleled {
    position: relative;
    margin: 0 8%;
    border-radius: 32px;
    border: 1px solid #f76324;
    padding: 72px;
    overflow: hidden;
    z-index: 999;
}

.circle_design {
    position: absolute;
    width: 296px;
    height: 296px;
    bottom: -90px;
    right: -90px;
    padding: 0;
    box-sizing: border-box;
    border: solid 50px #F76324;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20em;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20em;
    transform: rotate(90deg);
}


.button_text_div {
    margin-top: 42px;
}

@media (max-width: 1200px) {
    .circle_design {
        width: 196px;
        height: 196px;
        border: solid 30px #F76324;
    }

    .div_for_experience_unpralleled {
        padding: 30px;
    }
}

@media (max-width: 978px) {

    .main_div_title_description {
        margin-top: 80px;
        margin-bottom: -50px;
    }

    .div_for_experience_unpralleled {
        margin: 0 5%;
        margin-top: 60px !important;
        padding: 20px;
    }
}

@media (max-width: 768px) {

    .popuale_new_main_div {
        flex-direction: column;
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }

    .info_div {
        text-align: center;
    }

    .main_div_title_description {
        margin-top: 10px !important;
        /* margin-bottom: 0; */
    }

    .experient_text,
    .expert_team {
        font-size: 22px !important;
        line-height: 25px !important;
    }

    .button_text_div {
        margin-top: 30px !important;
    }

}

@media (max-width: 500px) {

    .main_div_title_description {
        margin-top: 10px !important;
        margin-bottom: 0;
    }
}