.template_container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1280px) {
    .template_container {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (min-width: 768px) {
    .template_container {
        margin-left: 8%;
        margin-right: 8%;
    }
}




.main_div_title_description {
    margin-top: 144px;
}

.div_for_experience_unpralleled {
    position: relative;
    margin: 0 8%;
    border-radius: 32px;
    border: 1px solid #f76324;
    padding: 72px;
    overflow: hidden;
    z-index: 999;
}

.circle_design {
    position: absolute;
    width: 296px;
    height: 296px;
    bottom: -90px;
    right: -90px;
    padding: 0;
    box-sizing: border-box;
    border: solid 50px #F76324;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20em;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20em;
    transform: rotate(90deg);
}


.button_text_div {
    margin-top: 42px;
}

@media (max-width: 1200px) {
    .circle_design {
        width: 196px;
        height: 196px;
        border: solid 30px #F76324;
    }

    .div_for_experience_unpralleled {
        padding: 30px;
    }
}

@media (max-width: 978px) {

    .main_div_title_description {
        margin-top: 80px;
        margin-bottom: -50px;
    }

    .div_for_experience_unpralleled {
        margin: 0 5%;
        margin-top: 60px !important;
        padding: 20px;
    }
}

@media (max-width: 768px) {

    .main_div_title_description {
        margin-top: 10px !important;
        /* margin-bottom: 0; */
    }

    .experient_text,
    .expert_team {
        font-size: 22px !important;
        line-height: 25px !important;
    }

    .button_text_div {
        margin-top: 30px !important;
    }

}

@media (max-width: 500px) {

    .main_div_title_description {
        margin-top: 10px !important;
        margin-bottom: 0;
    }
}