.main_for_Dark_Web_two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 118px;
  position: relative;
  margin-top: 120px;
}

.main_for_Dark_Web_twoA,
.main_for_Dark_Web_twoB,
.main_for_Dark_Web_twoA_last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
  padding: 0 8%;
  margin-top: 165px;
  width: 100%;
}

.main_for_Dark_Web_twoA:nth-child(odd) {
  flex-direction: row-reverse;

  .main_image_container {
    flex-direction: row-reverse;
  }

  /* .main_div_for_crosh_harf_left {
    left: 125%;
    transform: translate(100%, 0);
    rotate: 180deg;
  } */

}

.main_for_Cutting_div {
  max-width: 601px;
}

.main_title_external {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: white;
}

.main_description_data,
.main_description_div {
  margin-top: 24px !important;
  font-size: 20px !important;
}

.main_div_choresh {
  width: 398px;
  height: 398px;
  border-radius: 27px;
  background: linear-gradient(0deg,
      rgba(246, 99, 43, 0.08),
      rgba(246, 99, 43, 0.08)),
    linear-gradient(0deg, #ffffff, #ffffff);
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  left: 16px;
  top: 10px;
}

.main_div_title_description {
  margin-top: 144px;
}

.button_text_div {
  margin-top: 42px;
}

.circle_design {
  position: absolute;
  width: 296px;
  height: 296px;
  bottom: -90px;
  right: -90px;
  padding: 0;
  box-sizing: border-box;
  border: solid 50px #F76324;
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20em;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20em;
  transform: rotate(90deg);
}

.main_div_for_title {
  margin-top: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_div_for_hading {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: var(--dark);
  display: flex;
}

.main_div_for_sub_hading {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #f76324;
  display: flex;
}

.main_div_for_videoPlay_Frist {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main_div_for_videoPlay_two {
  width: 30%;
  height: 30%;
  position: relative;
}

.main_div_for_videoPlay_Onea {
  width: 40%;
}

.main_div_for_videoPlay_two_img {
  width: 638px;
  height: 391px;
  object-fit: contain;
}

.main_div_for_videoPlay_two_img_left,
.main_div_for_videoPlay_two_img_left_second {
  object-fit: contain;
  position: relative;
  width: 100%;
  z-index: 10;
}

.main_nextgen {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--dark);
}

.main_title_red {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #f76324;
}

.main_div_for_crosh_harf {
  width: 283px;
  height: 500px;
  border-radius: 12px 0 0 12px;
  background: #ffd7c6;
  position: absolute;
  right: 0;
  z-index: -1;
}

.main_container_div_for_nextgen {
  margin: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

.main_div_for_content {
  width: 50%;
}

.main_image_container {
  display: flex;
  align-items: center;
  /* place-content: center; */
  position: relative;
  margin: 5% 0;
  width: 50%;
}

.main_div_for_crosh_harf_left {
  width: 110%;
  height: 125%;
  border-radius: 20px;
  position: absolute;
  left: -5%;
  background: linear-gradient(115deg, #ffffff 54%, #000000 75%);
  backdrop-filter: blur(54px);
  opacity: 4%;
  z-index: 5;
}

.main_div_for_crosh_harf_left::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(-90deg, #FFFFFF 54%, #000000 75%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.div_for_experience_unpralleled {
  position: relative;
  margin: 0 8%;
  border-radius: 32px;
  border: 1px solid #f76324;
  padding: 72px;
  overflow: hidden;
  z-index: 999;
}


@media (max-width: 1700px) {
  .main_div_for_discover {
    padding: 0 7%;
  }
}

@media (max-width: 1500px) {


  .main_div_for_discover {
    padding: 0%;
  }
}

@media (max-width: 1400px) {
  .div_for_square_box {
    display: none;
  }


}

@media (max-width: 1200px) {

  .main_image_container {
    width: 100%;
    display: grid;
    align-items: center;
    place-content: center;
  }

  .main_div_for_discover,
  .main_for_Dark_Web_twoB {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_for_Dark_Web_twoA:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .main_div_for_content {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  .main_container_div_for_nextgen {
    flex-direction: column;
    gap: 30px;
  }

  .div_for_experience_unpralleled {
    padding: 30px;

  }

  .main_for_Dark_Web_twoA,
  .main_for_Dark_Web_twoA_last {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0px;
    margin-top: 140px;
  }

  .main_div_for_crosh_harf_left {
    display: none;
  }

  .main_div_for_crosh_harf {
    display: none;
  }

  .main_for_Cutting_div {
    padding: 0 0%;
    max-width: 100%;
    margin-top: 20px;
  }

  .main_div_for_videoPlay_two {
    left: 8%;
    width: 60%;
  }

  .main_div_for_videoPlay_two_img_left_second {
    width: 100%;
    height: auto;
  }

  .main_div_for_videoPlay_two_img {
    width: 100%;
    height: auto;
  }

  .div_for_image_of_discover {
    width: 100%;
  }


  .main_for_Dark_Web_twoA {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_div_for_videoPlay_two_img_left {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 992px) {


  .main_for_Dark_Web_twoA,
  .main_for_Dark_Web_twoB,
  .main_for_Dark_Web_twoA_last {
    margin-top: 120px;
  }

  .main_image_container {
    margin-top: 0;
    margin-bottom: 8%;
  }

  .main_div_for_crosh_harf_left {
    display: block;

  }
}

@media (max-width: 768px) {
  .main_div_for_videoPlay_two {
    left: 8%;
    width: 60%;
    margin-top: 10px;
  }



  .main_for_Dark_Web_twoB {
    margin-top: 85px;
    gap: 0px !important;
  }

  .main_for_Dark_Web_twoA_last {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    gap: 0px !important;
  }

  .main_for_Dark_Web_twoA {
    margin-top: 72px !important;
    gap: 32px !important;
  }

  .main_for_Cutting_div,
  .main_div_title_description {
    margin-top: 10px !important;
  }

  .class_for_heading_discover {
    font-size: 28px !important;
    line-height: 36px !important;
    margin-top: 10px;
  }

  .main_div_for_content {
    width: 100%;
    margin-top: 0;
  }

  .main_title_red {
    font-size: 22px;
    line-height: 30px;
  }


  .main_title_external {
    font-size: 24px;
    line-height: 30px;
  }

  .button_text_div {
    margin-top: 30px !important;
  }

  .div_for_experience_unpralleled {
    margin: 0 5%;
    margin-top: 72px !important;
    padding: 20px;
  }

  .experient_text,
  .expert_team {
    font-size: 22px !important;
    line-height: 25px !important;
  }

  .main_div_for_discover {
    gap: 0px !important;
  }

  .main_description_data,
  .main_description_div {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }

  .main_description_data {
    margin-bottom: 32px !important;
  }

  .main_container_div_for_nextgen {
    margin-top: 0 !important;
  }

  .circle_design {
    width: 196px;
    height: 196px;
    border: solid 30px #F76324;
  }
}

@media (max-width: 500px) {
  .main_div_for_videoPlay_two {
    left: 8%;
    width: 60%;
  }

  .main_div_title_description {
    margin-bottom: 72px;
  }


}