.main_div_for_contectus {
  margin: 0 8%;
}

.main_lable_manage {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.main_div_width_manage {
  width: 100%;
}

.book_demo {
  min-width: 300px;
}

.styles_for_images_cursor_pointing {
  transition: all .4s ease;
}


.styles_for_images_cursor_pointing:hover {
  background: #50505042;
}

.styles_for_images_cursor_pointing svg {
  transition: all .4s ease;
}

.styles_for_images_cursor_pointing:hover svg {
  scale: 1.1;
}


/* jon */

.div_for_background_image {
  position: relative;
  padding: 7% 10%;
  margin-top: 80px;
  margin-bottom: -130px;

}

.backgroundImageStyle {
  z-index: 1;
  position: absolute;
}

.Main_div_for_getstarted1 {
  position: relative;
  z-index: 2;
  top: 0;
  border: 1px solid black;
  background-color: #22252E;
  border-radius: 24px;
}

.Main_div_for_getstarted {
  display: flex;
  gap: 100px;
}

.styles_for_button {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  background-image: linear-gradient(to right, #EA5656, #F76324);
  color: white;
}

.styles_for_images_cursor_pointing {
  cursor: pointer;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F3F3F4;
  border-radius: 50%;
}

/* .Input_taxt {
  color: #1D3064;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Raleway";
} */

.Input_taxt {
  color: white;
  /* Text color */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  background-color: #22252E;
  /* Background color matching the image */
  /* border: 1px solid #A0A0A0; */
  border-radius: 6px;
  /* Rounded corners */
  padding: 10px 14px;
  width: 100%;
  outline: none;
}

.Input_taxt::placeholder {
  color: #FFFFFF99;
  opacity: 1;
  font-weight: 400;
}

.Input_taxt:focus {
  border-color: #ffffff !important;
}


.Main_div_for_getstarted_leftside {
  position: relative;
  width: 40%;
  color: #fff;
  /* background-image: linear-gradient(to right, #D54545, #FE6C2E); */
}

.DotbackgroundImageStyle {
  position: absolute;
  width: 60%;
  height: 60%;
  bottom: 6%;
  right: 0;
}

.Main_div_for_getstarted_rightside {
  /* background-color: white; */
  width: 60%;
}

.error {
  color: #E03E28;
  font-weight: 700;
  font-family: 'Raleway';
  font-size: 14px;
  margin-top: 3px;
}

.sub_div_for_getstarted_rightside {
  padding: 40px;
}

.formgroup label {
  font-family: "Raleway";
  font-size: 20px !important;
  font-weight: 400;
}

.socials {
  margin-top: 32px;
  display: flex;
  gap: 20px !important;
}

.div_for_GetStarted {
  font-family: "Raleway";
  line-height: 36px;
  font-size: 32px;
  font-weight: 500;
}

.div_for_get_in_touch {
  font-family: "Raleway";
  line-height: 67px;
  font-size: 56px;
  font-weight: 800;
  margin-top: 20px;
}

.Span_tag_for_beaconerteams_color {
  color: #FF5733;
}

.contactInfo {
  color: white;
  max-width: 530px;
  text-align: left;
  padding: 40px;
}

.main_div_for_details {
  margin-top: 18px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.Sub_div_for_details {
  font-family: "Raleway";
  /* margin-top: 80px !important; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFFE5;
  border: 1px solid #FFFFFF33;
  border-radius: 16px;
  padding: 32px;
  background-color: #FFFFFF1A;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div_for_what_challenges_heading {
  font-family: "Raleway";
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 12px;
}

.div_for_challenges_input {
  font-family: "Raleway";
  display: flex;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  justify-content: center;
}

.div_for_how_we_help_heading {
  font-family: "Raleway";
  margin: 20px 0px;
  padding: 15px 0;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #CACACA;
}

.main_div_for_receive_email {
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  text-align: center;
  padding: 40px 0;
  margin: 0 40px;
  border-top: 1px solid #494949;
  /* padding-bottom: 40px; */
  /* display: flex;
  align-items: center;
  margin: auto; */
}

.formgroup {
  position: relative;
  padding: 20px 0;
  width: 100%;
  max-width: 100%;
}

.formgroup input,
.Input_taxt {
  border: none;
  border: 1px solid #FFFFFF33;
  color: var(--white);
  display: block;
  padding: 15px;
  width: 100%;
  line-height: 30px;
  background-color: #FFFFFF1A !important;
}

.formgroup input:focus {
  border: 1px solid red;
}

.formgroup label {
  font-family: "Raleway";
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(30px);
}

.formgroup input:valid,
.formgroup input:focus {
  /* border-bottom-color: #0052FF; */
  outline: none;
}

.formgroup input:valid+label,
.formgroup input:focus+label {
  /* color: #0052FF; */
  font-size: 14px;
  transform: translateY(0);
}

.formgroup label {
  transition: all 0.2s ease-in-out;
}

.textarea_label {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #E8E8E8;

}

.divforinputstyle {
  margin-left: 20px;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.divforinputstyle1 {
  margin-left: 20px;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.styles_for_spacing {
  margin-top: 16px;
  margin-bottom: 32px !important;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 30px;
}

.email_string {
  font-family: "Raleway";
  font-weight: 600;
  line-height: 30px;
}

.svg_main_div {

  display: flex;
  gap: 15px;
  /* justify-content: center; */
  align-items: center;
}

.svg_div {
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.get_in_touch {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.text_div {
  font-weight: 800;
  font-size: 56px;
  color: var(--white);
}

.desc_div {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

@media (max-width: 992px) {
  .Main_div_for_getstarted {
    display: block;
  }

  .email_string {
    margin-bottom: 0px !important;
  }

  .Main_div_for_getstarted_leftside {
    width: 100%;
  }

  .Main_div_for_getstarted_rightside {
    width: 100%;
  }

  .Main_div_for_getstarted {
    margin: 4%;
  }


  .contactInfo {
    max-width: 100%;
    text-align: left;
    padding: 0px;
  }

  .socials {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .sub_div_for_getstarted_rightside {
    padding: 20px;
  }

  .div_for_background_image {
    padding: 7% 4%;
    margin-top: -70px;
  }

  .formgroup label {
    font-size: 16px !important;
  }

  .div_for_what_challenges_heading {
    font-size: 16px;
  }

  .div_for_challenges_input {
    font-size: 16px;
  }

  .div_for_how_we_help_heading {
    font-size: 16px;
  }

  .main_div_for_receive_email {
    font-size: 16px;
  }

  .div_for_get_in_touch {
    line-height: 30px;
    max-width: 400px;
    display: inline-table;
    font-size: 32px;
  }

  .div_for_GetStarted {
    font-size: 28px;
    line-height: 18px;
  }

  .Sub_div_for_details {
    font-size: 16px;
    line-height: 14px;
    /* margin-top: 20px !important; */

  }

  .DotbackgroundImageStyle {
    display: none;
  }

  .styles_for_button {
    margin-top: 200px !important;
  }

  .divforinputstyle {
    font-size: 16px !important;
  }
}


@media (max-width: 500px) {
  .div_for_background_image {
    margin-top: -40px;
    margin-bottom: -30px;
    padding-bottom: 72px;
  }

  .book_demo {
    min-width: auto !important;
    width: 100%;
  }

  .div_for_GetStarted {
    font-size: 18px;
    line-height: 18px;
  }

  .div_for_get_in_touch {
    line-height: 1.2;
    font-size: 28px;
  }

  .email_string {
    font-size: 14px !important;
  }

  .styles_for_spacing,
  .divforinputstyle1 {
    font-size: 14px;
    line-height: 1.2;
  }

  .sub_div_for_getstarted_rightside {
    padding: 0px;
  }

  .formgroup {
    padding: 10px 0px;
  }
  .formgroup input{
    padding: 5px 10px;
  }

  .text_div {
    font-size: 30px;
  }

  .desc_div {
    font-size: 14px;
  }
  .get_in_touch {
   
    margin-bottom: 20px;
  }
}