.head_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8%;
    margin-top: -55px;
    position: relative;

}

.main_head_container {
    margin: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_heading {
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 24px;
    text-align: center;
}

.main_sub_heading {
    width: 65%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.logo_carasoul_container {
    margin: 0 0%;
    overflow: hidden;
    margin-bottom: 72px;
}

.logo_image_div {
    width: max-content;
}

.logo_image {
    width: 100%;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    filter: brightness(0) invert(1);

}

.logo_iner_comtainer {
    /* width: fit-content; */
    /* white-space: nowrap; */
    display: flex;
    align-items: center;
    gap: 98px;
    /* animation: scroll 10s linear infinite; */
}

.main_div_title_description {
    margin-top: 144px;
}

.div_for_experience_unpralleled {
    position: relative;
    margin: 0 8%;
    border-radius: 32px;
    border: 1px solid #f76324;
    padding: 72px;
    overflow: hidden;
    z-index: 999;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Start position */
    }

    100% {
        transform: translateX(-0%);
        /* Move left by 50% of the track's width */
    }
}


.main_feature_section {
    padding: 112px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.main_image_container {
    display: flex;
    align-items: center;
    /* place-content: center; */
    position: relative;
    /* margin: 5% 0; */
    width: 45%;
}

.main_feature_section:nth-child(odd) {
    flex-direction: row-reverse;

    .main_image_container {
        flex-direction: row-reverse;
    }

    /* .main_div_for_crosh_harf_left {
        left: 125%;
        transform: translate(100%, 0);
        rotate: 180deg;
    } */
}

.main_div_for_crosh_harf_left {
    width: 110%;
    height: 125%;
    border-radius: 20px;
    position: absolute;
    left: -5%;
    background: linear-gradient(115deg, #ffffff 54%, #000000 75%);
    backdrop-filter: blur(54px);
    opacity: 4%;
    z-index: 5;
}

.main_div_for_crosh_harf_left::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(-90deg, #FFFFFF 54%, #000000 75%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}


.feature_content_container {
    width: 45%;
}

.feature_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 24px;
}

.feature_discription {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.feature_discription p  span strong{
    font-size: 24px !important;
    color: var(--discription)   ;
}
.feature_discription p  span{
    font-size: 16px !important;
    color: var(--hero_description) !important;
}

.feature_discription>ul {
    list-style: disc !important;
    margin: 0 20px;
}

.button_text_div {
    margin-top: 42px;
}

.circle_design {
    position: absolute;
    width: 296px;
    height: 296px;
    bottom: -90px;
    right: -90px;
    padding: 0;
    box-sizing: border-box;
    border: solid 50px #F76324;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20em;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20em;
    transform: rotate(90deg);
}

.result_main_comtainer {
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.result_main_title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

.result_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EA5656;
    padding: 72px 24px;
    border-radius: 20px;
    background-color: #000000;
}

.result_div {
    padding: 0 12px;
    text-align: center;
    width: 100%;
    /* border-left: 1px solid #EA5656; */
    /* height: 50%; */
    flex-shrink: 1;
    position: relative;
}

.result_div::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    height: 60%;
    transform: translate(0, -50%);
    display: inline;
    background-color: #f76324;
    border-radius: 50px;
    width: 1px;
}


.result_div:nth-child(1)::after {
    display: none;
}

.result_heading {
    font-size: 40px;
    font-weight: 700;
}

.result_subheading {
    font-size: 24px;
    font-weight: 600;
}

.result_discription {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.result_bottom_text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.timeline_main_container {
    margin: 0 8%;
    margin-top: 72px;
}

.timeline_main_heading {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.main_timeline {
    margin: 78px 0;
    position: relative;

}

.timeline_div {
    display: flex;
    gap: 245px;
    margin-bottom: 96px;
    height: 310px;
}

.timeline_div:nth-child(odd) {
    flex-direction: row-reverse;

    .timeline_left {
        text-align: left;
        align-items: start;
    }

    .image_container {
        display: flex;
        justify-content: end;
    }

    .circle_num {
        left: -121.5px;
        transform: translate(-50%, -50%);
    }

    .circle_num::after {
        right: -270%;
        width: 102px;
    }
}

.center_line {
    position: absolute;
    top: -70px;
    left: 50%;
    width: 0px;
    height: 100%;
    /* background-color: #EA565699; */
    border: 1px dashed #F98857;
}

.center_line::before {
    content: "";
    position: absolute;
    top: 96.5px;
    left: 50%;
    width: 20px;
    transform: translate(-50%, -50%);
    height: 20px;
    border-radius: 50%;
    background-color: #EA5656;
    z-index: 100;
    display: none;
}

.center_line::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, 0px);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #EA565699;
    /* Triangle color */

}

.timeline_left {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    text-align: right;
}

.image_container {
    width: 100%;
}

.timeline_number {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    /* padding: 12px 32px; */
    /* background-color: #F7632433; */
    /* color: #EA5656; */
    border-radius: 12px;
    position: relative;
}

.circle_num {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #321B12;
    border: 1px dashed #F27E6B;
    top: 26.5px;
    left: 100%;
    transform: translate(257%, -50%);
}

.circle_num::after {
    content: "";
    position: absolute;
    top: 50%;
    /* height: 2px; */
    /* transform: translate(0, -100%); */
    display: inline;
    right: 100%;
    border: 1px dashed #F98857;
    width: 102px;
}

.timeline_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.timeline_discription {
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    width: 80%;
}

.why_beaconer_main_contaimer {
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why_main_title {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.container_why {
    gap: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.why_main_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    border: 1px solid #F98857;
    border-radius: 12px;
    text-align: center;
}

.why_logo {
    height: 45px;
    width: 45px;
    margin-bottom: 8px;
}

.why_div_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
}

.why_description {
    font-size: 20px;
    font-weight: 400;
    color: #C5C5C6;
}

.feature_image {
    width: 100%;
    position: relative;
}


@media(max-width : 1400px) {
    .timeline_discription {
        width: 100%;
    }

    .main_head_container {
        margin: 110px 0;
    }

    .main_heading {
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 24px;
        text-align: center;
    }

    .main_sub_heading {
        width: 75%;
        font-size: 20px;
    }
}

@media(max-width : 1200px) {

    .main_image_container {
        width: 100%;
        display: grid;
        place-content: center;
        align-items: center;
    }

    .timeline_main_heading {
        font-size: 32px;
    }

    .main_timeline {

        .center_line,
        .image_container {
            display: none;
        }

        .timeline_div:nth-child(odd) {

            padding: 35px 0 30px 30px;

            .circle_num {
                left: -27px !important;
            }

            .image_container {
                display: none;
            }
        }

        .timeline_div {
            position: relative;
            /* max-width: 400px; */
            height: 100%;
            margin-bottom: 0;
            padding: 35px 30px 30px 0;

        }


        .timeline_div::before {
            content: "";
            position: absolute;
            width: 50%;
            border: dashed #EA565699;
            right: 0;
            top: 0;
            bottom: 0;
            border-width: 3px 3px 3px 0;
            border-radius: 0 50px 50px 0;
        }

        .timeline_div:nth-child(odd)::before {
            left: 0px;
            top: -2.5px;
            bottom: -2.5px;
            border-width: 3px 0 3px 3px;
            border-radius: 50px 0 0 50px;
        }


        .timeline_number {
            margin-left: 0px;
        }

        .circle_num {
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #321B12;
            border: 2px dashed #EA5656;
            left: 100%;
            transform: translate(13px, -10px);
        }

        .circle_num::before {
            content: "";
            position: absolute;
            display: block;
            background-color: #EA5656;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .circle_num::after {
            display: none;
        }
    }

    .container_why {
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
    }

    .result_main_title {
        font-size: 32px;
        line-height: 1;
    }

    .circle_design {
        display: none;
    }

    .div_for_experience_unpralleled {
        padding: 30px;
    }

    .main_div_for_crosh_harf_left {
        display: none;
        /* position: absolute;
        width: 360px; */
    }

    .main_head_container {
        margin: 100px 0px;
    }

    .main_heading {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    .main_sub_heading {
        width: 75%;
        font-size: 18px;
        line-height: 1.3;
    }

    .main_feature_section {
        flex-direction: column-reverse;
        /* margin: 30px 8%; */
        padding-top: 50px;
        padding-bottom: 0px;
        margin-top: 40px;
    }

    .main_feature_section:nth-child(odd) {
        flex-direction: column-reverse;
    }



    .feature_content_container {
        width: 70%;
        padding-bottom: 50px;
    }
}


@media(max-width : 978px) {
    .main_div_for_crosh_harf_left {
        display: block;
    }

    .main_image_container {
        margin-top: 0;
        margin-bottom: 8%;
    }

    .why_main_title {
        font-size: 30px;
    }

    .result_main_title {
        font-size: 28px;
    }

    .result_bottom_text {
        font-size: 18px;
    }


    .main_head_container {
        margin: 65px 0px;
    }

    .main_heading {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .main_sub_heading {
        width: 85%;
        line-height: 1.2;
    }

    .feature_title {
        font-size: 25px;
        line-height: 1.3;
    }

}

@media(max-width : 768px) {

    .feature_content_container {
        width: 100%;
        padding-bottom: 30px;
    }


    .timeline_title,
    .why_div_title {
        font-size: 20px;
    }

    .timeline_discription,
    .why_description {
        font-size: 16px;
    }

    .container_why {
        gap: 32px;
        grid-template-columns: repeat(1, 1fr);
    }

    .result_main_title {
        font-size: 26px;
    }

    .result_bottom_text {
        font-size: 16px;
    }

    .result_container {
        flex-direction: column;
        gap: 50px;
    }

    .result_div::after {
        top: -10%;
        left: 50%;
        height: 1px;
        transform: translate(-50%, 0);
        display: inline;
        background-color: #f76324;
        border-radius: 50px;
        width: 60%;
    }

    .button_text_div {
        margin-top: 30px !important;
    }

    .div_for_experience_unpralleled {
        margin: 0 5%;
        margin-top: 60px !important;
        padding: 20px;
    }

    .head_main_container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .main_feature_section {
        padding: auto 5%;
        margin-top: 30px;
        /* margin: 72px 0%; */
    }


    .feature_discription {
        font-size: 15px;
    }

    .main_div_title_description {
        margin-top: 10px !important;
    }

    .result_main_comtainer {
        margin-top: 72px;
    }

}


@media(max-width : 500px) {
    /* .main_div_for_crosh_harf_left {
        width: 200px;
    } */

    .main_heading {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .main_sub_heading {
        font-size: 14px;
    }
}