.health_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8%;
    margin-top: -55px;
    position: relative;

}

.main_head_container {
    margin: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_heading {
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 24px;
    text-align: center;
    color: var(--white);
}

.main_sub_heading {
    width: 65%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--description);
}

.second_section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
}

/* .second_image {} */

.second_content_container {
    width: 40%;

}

.second_cpntent_tile {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 24px;
    color: #F3F3F4;
}

.second_content_discription {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--hero_description);
}


.seconry_heading {
    margin-top: 72px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--white);
}

.seconry_discription {
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 72px;
    color: var(--hero_description);
}

.third_section_container {
    /* background-color: #FDEEEDA3; */
    /* margin: 0 -100%; */
    padding: 72px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_heading {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: var(--white);
}

.third_discription {
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--hero_description);
}


.main_feature_section {
    padding: 112px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.main_image_container {
    display: flex;
    align-items: center;
    /* place-content: center; */
    position: relative;
    /* margin: 5% 0; */
    width: 45%;
}

.main_feature_section:nth-child(even) {
    flex-direction: row-reverse;

    .main_image_container {
        flex-direction: row-reverse;
    }

    /* .main_div_for_crosh_harf_left {
        left: 125%;
        transform: translate(100%, 0);
        rotate: 180deg;
    } */
}


.main_div_for_crosh_harf_left {
    width: 110%;
    height: 125%;
    border-radius: 20px;
    position: absolute;
    left: -5%;
    background: linear-gradient(115deg, #ffffff 54%, #000000 75%);
    backdrop-filter: blur(54px);
    opacity: 4%;
    z-index: 5;
}

.main_div_for_crosh_harf_left::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(-90deg, #FFFFFF 54%, #000000 75%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}

.feature_content_container {
    width: 45%;
    position: relative;
}

.feature_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 24px;
    color: var(--white);
}

.feature_discription {
    font-size: 20px !important;
    font-weight: 400;
    line-height: 30px;
    color: var(--hero_description);
}

.feature_discription>ul {
    list-style: disc !important;
    margin: 0 20px;
}


.main_div_title_description {
    margin-top: 144px;
}

.div_for_experience_unpralleled {
    position: relative;
    margin: 0 8%;
    border-radius: 32px;
    border: 1px solid var(--border);
    padding: 72px;
    overflow: hidden;
    z-index: 999;
}

.button_text_div {
    margin-top: 42px;
}

.experient_para {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--hero_description);
}

.feature_image {
    width: 100%;
    position: relative;
    z-index: 10;
}

.circle_design {
    position: absolute;
    width: 296px;
    height: 296px;
    bottom: -90px;
    right: -90px;
    padding: 0;
    box-sizing: border-box;
    border: solid 50px #F76324;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20em;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20em;
    transform: rotate(90deg);
}

.svgBg {
    background: linear-gradient(#EE7777, #F98857);
    border-radius: 50%;
    color: white;
    padding: 12px;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
}

.healthcare_card_body {
    background-image: var(--gradient-bg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

}

.body_card {
    border: 1px solid var(--border);
    border-radius: 8px;

}

.healthcare_cta_section {
    font-size: 40px !important;
    line-height: 1.2;
    font-weight: bold;
    color: var(--white)

}

@media (max-width:1400px) {
    .div_for_experience_unpralleled {
        padding: 30px;
    }

    .main_head_container {
        margin: 110px 0;
    }

    .main_heading {
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 24px;
        text-align: center;
    }

    .main_sub_heading {
        width: 75%;
        font-size: 20px;
    }
}

@media (max-width:1200px) {
    .main_image_container {
        width: 100%;
        display: grid;
        place-content: center;
        align-items: center;
    }

    .main_div_for_crosh_harf_left {
        display: none;

    }



    .main_feature_section {
        flex-direction: column-reverse;
        /* margin: 30px 8%; */
        padding-top: 50px;
        padding-bottom: 0px;
        margin-top: 40px;
    }

    .feature_content_container {
        width: 70%;
        padding-bottom: 50px;
    }

    .main_feature_section:nth-child(even) {
        flex-direction: column-reverse;
    }

    .second_section_container {
        justify-content: space-between;
        margin: 0 0;
        flex-direction: column;
        text-align: center;
    }

    .second_content_container {
        width: 100%;
        text-align: left;
    }

    .second_cpntent_tile {
        margin-top: 15px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .second_content_discription {
        line-height: 1.2;
    }

    .seconry_heading {
        line-height: 1.5;
    }

    .seconry_discription {
        line-height: 1.5;
        width: 100%;
    }

    .main_head_container {
        margin: 100px 0px;
    }

    .main_heading {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    .main_sub_heading {
        width: 75%;
        font-size: 18px;
        line-height: 1.3;
    }

    .div_for_experience_unpralleled {
        margin: 0 5%;
        margin-top: 60px !important;
        padding: 20px;
    }



    .third_heading {
        margin-bottom: 10px;
        line-height: 1.5;
    }

}

@media (max-width:978px) {
    .main_div_for_crosh_harf_left {
        display: block;
    }

    .main_image_container {
        margin-top: 0;
        margin-bottom: 8%;
    }

    .main_div_title_description {
        margin-top: 80px;
        margin-bottom: -50px;
    }

    .main_head_container {
        margin: 65px 0px;
    }

    .main_heading {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .main_sub_heading {
        width: 85%;
        line-height: 1.2;
    }

    .feature_title {
        font-size: 25px;
        line-height: 1.3;
    }


}

@media (max-width: 768px) {

    .feature_content_container {
        width: 100%;
        padding-bottom: 30px;
    }

    .health_main_container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .feature_discription {
        font-size: 15px;
    }


    .button_text_div {
        margin-top: 30px !important;
    }


    .main_div_title_description {
        margin-top: 10px !important;
        /* margin-bottom: 0; */
    }

    .div_for_experience_unpralleled {
        margin: 0 5%;
        margin-top: 72px !important;
        padding: 20px;
    }

    .experient_text {
        font-size: 22px !important;
        line-height: 25px !important;
    }

    .main_feature_section {
        padding: auto 5%;
        margin-top: 30px;
        /* margin: 72px 0%; */
    }

    .third_section_container {
        padding: 70px 5%;
    }

    .seconry_heading,
    .second_cpntent_tile,
    .third_heading {
        line-height: 1.5;
        font-size: 24px;
    }

    .seconry_discription,
    .second_content_discription,
    .third_discription {
        line-height: 1.5;
        font-size: 15px;
    }

    .Description {
        font-size: 14px !important;
    }

    .circle_design {
        width: 166px;
        height: 166px;
        bottom: -66px;
        right: -83px;
        box-sizing: border-box;
        border: solid 30px #F76324;
    }

    .body_card {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .healthcare_cta_section {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {


    .main_div_title_description {
        margin-top: 10px !important;
        margin-bottom: 0;
    }

    .main_heading {
        font-size: 28px;
    }

    .main_sub_heading {
        font-size: 14px;
    }

    .div_for_experience_unpralleled {
        margin-bottom: 72px;
    }
}