.card_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
}


.card_image {
    margin-bottom: 35px;
    filter: brightness(1.35);
    filter: grayscale(0%) blur(0px);
}

.card_image {
    filter: brightness(0.85);
    filter: grayscale(20%) blur(1px);
    transition: all 0.4s ease-in-out;
    margin-bottom: 0px;
    border-radius: 9.1px;
    width: 100%;
    height: 400px;
    object-fit: fill;
    position: relative;
}

.overlay_div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}

.recent_card_title {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    padding: 24px 12px;
    line-height: normal;
}

@media (max-width: 1400px) {
    .card_image {
        height: 291px;
    }
}

@media (max-width: 1200px) {
    .card_image {
        margin-top: 0;
        margin-bottom: 35px;
    }
}

@media (min-width: 1024px) {
    .recent_card_title {
        font-size: 24px;
    }
}

@media (max-width: 978px) {
    .card_image {
        margin-bottom: 15px;
        height: 283px;
    }
}

@media (min-width: 768px) {

    .recent_card_title {
        font-size: 20px;

    }
}

@media (max-width: 500px) {
    .card_image {
        border-radius: 9.1px;
    }
}