.main_for_Dark_Web_twoA,
.main_for_Dark_Web_twoB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
  padding: 0 8%;
  margin-top: 165px;
  width: 100%;
}

.main_for_Dark_Web_twoA:nth-child(odd) {
  flex-direction: row-reverse;


  .main_div_for_crosh_harf_left {
    left: 100%;
    transform: translate(-100%, 0);

  }
}

.main_div_title_description {
  margin-top: 144px;
}

.button_text_div {
  margin-top: 42px;
}

.circle_design {
  position: absolute;
  width: 296px;
  height: 296px;
  bottom: -90px;
  right: -90px;
  padding: 0;
  box-sizing: border-box;
  border: solid 50px #F76324;
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20em;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20em;
  transform: rotate(90deg);
}

.main_div_for_videoPlay_two_img {
  width: 638px;
  height: 391px;
  object-fit: contain;
}

.main_div_for_videoPlay_two_img_left {
  width: 638px;
  height: 391px;
  object-fit: contain;
}

.main_div_for_crosh_harf {
  width: 283px;
  height: 500px;
  border-radius: 12px 0 0 12px;
  background: #ffd7c6;
  position: absolute;
  right: 0;
  z-index: -1;
}

.main_for_Cutting_div {
  width: 50%;
}

.main_div_for_crosh_harf_left {
  width: 283px;
  height: 500px;
  border-radius: 0px 12px 12px 0px;
  background: #ffd7c6;
  position: absolute;
  left: 0;
  z-index: -1;
}

.main_div_for_crosh_harf_left {
  right: 0 !important;
}

.div_for_experience_unpralleled {
  position: relative;
  margin: 0 8%;
  border-radius: 32px;
  border: 1px solid #f76324;
  padding: 72px;
  overflow: hidden;
  z-index: 999;
}

.image_heading {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.orange {
  color: #ea5656;
}

.center_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 248, 245);
  background: linear-gradient(180deg,
      rgba(255, 248, 245, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

.solution_heading_top_container {
  margin-top: 144px;
  text-align: center;
  width: 60%;
}

.solution_heading_top_first {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  font-family: Raleway;
}

.solution_heading_top_second {
  font-size: 56px;
  line-height: 70px;
  font-weight: 800;
  font-family: Raleway;
}

.solution_heading_top_para {
  margin: 24px 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.slider_container {
  width: 100%;
  overflow: hidden;
}

.slider_images {
  height: 100%;
  width: 100%;
}

@media (max-width: 1700px) {
  .main_div_for_videoPlay_two_img_left {
    left: 16%;
  }
}

@media (max-width: 1500px) {
  .main_div_for_videoPlay_two_img_left {
    left: 16%;
  }
}

@media (max-width: 1400px) {
  .main_div_for_videoPlay_two_img_left {
    left: 10%;
  }

  .solution_heading_top_container {
    width: 75%;
  }
}

@media (max-width: 1200px) {
  .main_for_Dark_Web_twoB {
    display: flex;
    flex-direction: column-reverse;
  }

  .div_for_experience_unpralleled {
    padding: 30px;
  }

  .main_for_Dark_Web_twoA {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    margin-top: 140px;
  }

  .main_for_Dark_Web_twoA:nth-child(odd) {
    flex-direction: column;
  }



  .main_div_for_crosh_harf_left {
    display: none;
  }

  .main_div_for_crosh_harf {
    display: none;
  }

  .circle_design {
    display: none;
  }

  .main_for_Cutting_div {
    width: 100%;
  }

  .main_div_for_videoPlay_two_img {
    width: 100%;
    height: auto;
  }

  .main_for_Dark_Web_twoA {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .main_div_for_videoPlay_two_img_left {
    top: -10%;
    left: 8%;
    height: auto;
    width: 100%;
    z-index: -1;
  }

  .solution_heading_top_second {
    font-size: 42px;
    line-height: 1.5;
  }

  .solution_heading_top_container {
    width: 80%;
  }

  .solution_heading_top_first {
    font-size: 38px;
  }
}

@media (max-width: 992px) {
  .main_for_Cutting_div {
    width: 100%;
  }

  .main_for_Dark_Web_twoA,
  .main_for_Dark_Web_twoB {
    margin-top: 85px;
  }
}

@media (max-width: 768px) {
  .main_for_Dark_Web_twoB {
    margin-top: 40px;
    gap: 10px !important;
  }

  .main_for_Dark_Web_twoA {
    margin-top: 40px !important;
    gap: 10px !important;
  }

  .main_div_title_description {
    margin-top: 10px !important;
  }

  .button_text_div {
    margin-top: 30px !important;
  }

  .div_for_experience_unpralleled {
    margin: 0 5%;
    margin-top: 60px !important;
    padding: 20px;
  }

  .experient_text,
  .expert_team {
    font-size: 22px !important;
    line-height: 25px !important;
  }

  .image_heading {
    font-size: 24px;
    line-height: 1.2;
  }

  .solution_heading_top_container {
    width: 90%;
    margin-top: 90px;
  }

  .solution_heading_top_first {
    font-size: 20px;
  }

  .solution_heading_top_second {
    font-size: 24px;
    line-height: 1.5;
  }

  .solution_heading_top_para {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media (max-width:500ox) {
  .center_div{
    margin-top: 40px;
  }
}