.template_image {
    margin-bottom: 35px;
    filter: brightness(1.35);
    filter: grayscale(0%) blur(0px);
}


.template_image {
    filter: brightness(0.85);
    filter: grayscale(20%) blur(1px);
    transition: all 0.4s ease-in-out;
    margin-bottom: 45px;
    border-radius: 9.1px;
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.template_card_heading {
    margin-top: 1rem !important;
    font-size: 24px;
    line-height: 1.5;
}

.card_template_main {
    cursor: pointer;
    width: 100%;
    transition: all ease .3s;
    padding: 16px;
    border: 1px solid rgba(224, 224, 224, 0.5);
    border-radius: 12px;
}

.card_template_main:hover {
    /* margin-bottom: 35px;
    filter: brightness(1.35);
    filter: grayscale(0%) blur(0px); */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.main_div_image{
    height: 200px;
}
@media (max-width: 1400px) {
    .template_image {
        height: 200px;
    }
}

@media (max-width: 1200px) {
    .template_image {
        margin-top: 0;
        margin-bottom: 35px;
    }

    .template_card_heading {
        font-size: 22px;
        line-height: 1.6;
    }
}

@media (max-width: 978px) {
    .template_image {
        margin-bottom: 15px;
        height: 200px;
    }

    .template_card_heading {
        font-size: 24px;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    .template_card_heading {
        margin-top: 1.5rem !important;
    }
}

@media (max-width: 500px) {
    .template_image {
        border-radius: 9.1px;
    }
}