# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:

    branches: [ "main" ]


jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [22.12.0]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1  # This fetches the entire history

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm i
    - run: npm run build --if-present
    - name: Delete client process if running
      run: |
          if pm2 list | grep -q 'client'; then
            echo "Client is running. Skipping the process..."
          else
            pm2 start npm --name "client" -- start
            echo "Client start on pm2 ......"
          fi

    - run: pm2 reload client
    - run: pm2 save
